/* -------------------------------------------------
== Typography
-------------------------------------------------- */
html {
	font-size: 62.5%;
	font-size: clamp(62.5%, 2.2vw, 70%);
}

body {
	font-size: calc((var(--basefont) / 10) * 1em);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: var(--lineheight);
}
