/* -------------------------------------------------
== Space helpers
-------------------------------------------------- */

.mt1 { margin-top: 1rem; }
.mt2 { margin-top: 2rem }

/* Gaps
-------------------------------------------------- */

.gap { gap: var(--gap); }
.gap--mini { gap: var(--gap-mini); }

/* Border
-------------------------------------------------- */

.border-0 {
	border-width: 0;
}
